<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- TCP calibration in meters -->
  <xacro:property name="tcp_x" value="0.00" />
  <xacro:property name="tcp_y" value="0.00" />
  <xacro:property name="tcp_z" value="0.284" />

  <xacro:macro name="robotiq_gripper" params="parent">

    <link name="${parent}_eoat_link">
      <visual>
          <geometry>
              <mesh filename="package://crs_support/meshes/end_effector/visual/full_ee_v4.stl" />
          </geometry>
          <material name="Orange">
              <color rgba="1.0 0.4 0.0 1.0" />
          </material>
      </visual>
      <collision>
          <geometry>
              <mesh filename="package://crs_support/meshes/end_effector/collision/full_ee_v4_collision.stl" />
          </geometry>
      </collision>
      <!--<inertial>
        <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.22652" />
        <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://compliance_ctrl/support/meshes/ee1.stl" />
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://compliance_ctrl/support/meshes/ee2.stl" />
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://compliance_ctrl/support/meshes/ee3.stl" />
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://compliance_ctrl/support/meshes/ee1.stl" />
        </geometry>
      </collision>-->

    </link>

    <link name="sander_center_link" />

    <link name="sander_intermediate_link">
    </link>

    <joint name="sander_intermediate_to_sander_center_link" type="fixed">
      <parent link="sander_intermediate_link" />
      <child link="sander_center_link" />
<!--        <origin xyz="0 0.16578 0.01902" rpy="-0.785 0 0" />-->
<!--        <origin xyz="0 0.162 0.015" rpy="-0.785 0 0" />-->
<!--        <origin xyz="0 0.04612 -0.03371" rpy="-2.355 0 0" />-->
      <origin  xyz="0.0 0.0 0.0125" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="${parent}tool0_to_eoat_link" type="fixed">
        <parent link="${parent}" />
        <child link="${parent}_eoat_link" />
<!--        <origin xyz="0 0 0" rpy="1.57 0 -1.57" />-->
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="${parent}tool0_to_sander_center_link" type="fixed">
        <parent link="${parent}_eoat_link" />
        <child link="sander_intermediate_link" />
<!--        <origin xyz="0 0.16578 0.01902" rpy="-0.785 0 0" />-->
<!--        <origin xyz="0 0.162 0.015" rpy="-0.785 0 0" />-->
        <origin xyz="0.0 -0.15497 0.17503" rpy="0.7854 0.0 0.0"/>
<!--        <origin xyz="0 0.04612 -0.03371" rpy="-2.355 0 0" />-->
    </joint>

<!--    <link name="sander_center_link2" />

    <joint name="sander_center_link_to_sander_center_link2" type="fixed">
        <parent link="sander_center_link" />
        <child link="sander_center_link2" />
        <origin xyz="0 0.0 -0.006" rpy="0 0 0" />
    </joint>-->

  </xacro:macro>

</robot>
